sudo: required
os:
  - linux
  - osx
dist: trusty
addons:
  apt:
    sources:
    - sourceline: 'ppa:bitcoin/bitcoin'
      key_url: 'http://keyserver.ubuntu.com:11371/pks/lookup?op=get&search=0xD46F45428842CE5E'
    packages:
      - bitcoind
before_install:
  - on_osx(){( test "$TRAVIS_OS_NAME" = osx && $@ ) || true; }
  - on_linux(){( test "$TRAVIS_OS_NAME" = linux && $@ ) || true; }
  - on_osx '( brew outdated python || brew install python )'
  - on_osx 'pip install virtualenv'
  - on_osx 'pip install --upgrade pip'
  - on_osx 'curl -L https://bitcoin.org/bin/bitcoin-core-0.15.1/bitcoin-0.15.1-osx64.tar.gz -o bitcoincore.tar.gz'
  - on_osx 'sudo tar -xzf bitcoincore.tar.gz -C /usr/local/ --strip-components=1'
  - on_osx 'find /usr/local -iname "bitcoin*"'
  - on_osx 'echo $PATH'
install:
  - ./install.sh --develop --no-gpg-validation
before_script:
  - source jmvenv/bin/activate
script:
  - on_linux './test/run_tests.sh'
  - on_osx 'bitcoind -regtest & && sleep 20 && bitcoin-cli -regtest getblockchaininfo'
after_success:
  - coveralls
branches:
 only:
  - master
  - travis-test-linux-and-osx
