sudo: required
os:
  - linux
  - osx
dist: trusty
language: python
python:
  - "2.7_with_system_site_packages"
before_install:
  - ( test "$TRAVIS_OS_NAME" = linux && sudo apt-add-repository ppa:bitcoin/bitcoin -y ) || true
  - ( test "$TRAVIS_OS_NAME" = linux && sudo apt-get update -q ) || true
  - ( test "$TRAVIS_OS_NAME" = linux && sudo apt-get install --no-install-recommends --no-upgrade -qq bitcoind ) || true
install:
  - ./install.sh --develop --no-gpg-validation
before_script:
  - source jmvenv/bin/activate
script:
  - ./test/run_tests.sh
after_success:
  - coveralls
branches:
 only:
  - master
  - travis-test-linux-and-osx
