sudo: required
os:
  - linux
  - osx
dist: trusty
addons:
  apt:
    sources:
    - sourceline: 'ppa:bitcoin/bitcoin'
      key_url: 'http://keyserver.ubuntu.com:11371/pks/lookup?op=get&search=0xD46F45428842CE5E'
    packages:
      - bitcoind
cache:
      directories:
          - $HOME/.cache
before_install:
  - on_osx(){( test "$TRAVIS_OS_NAME" = osx && $@ ) || true; }
  - on_linux(){( test "$TRAVIS_OS_NAME" = linux && $@ ) || true; }
  - on_osx "( brew outdated python || brew install python )"
  - on_osx pip install virtualenv
  - on_osx pip install --upgrade pip
  - on_osx mkdir -p $HOME/.cache
  - on_osx curl -L https://bitcoin.org/bin/bitcoin-core-0.15.1/bitcoin-0.15.1-osx64.tar.gz -o $HOME/.cache/bitcoincore.tar.gz
  - on_osx sudo tar -xzf $HOME/.cache/bitcoincore.tar.gz -C /usr/local/ --strip-components=1
  - on_osx set -f
  - on_osx find /usr/local -iname "bitcoin*"
  - on_osx set +f
  - on_osx echo $PATH
install:
  - ./install.sh --develop --no-gpg-validation
before_script:
  - source jmvenv/bin/activate
script:
  - ./test/run_tests.sh
after_success:
  - coveralls
after_failure:
  - echo "at least cache some stuff"
branches:
 only:
  - master
  - travis-test-linux-and-osx
